.add-staff-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f4f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-staff-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.add-staff-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.add-staff-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-staff-button:hover {
    background-color: #218838;
}

#id_username_helptext{
    display: none;
}