.admin-report-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin-report-container__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.admin-report-container__counts {
    margin-top: 10px;
}

.admin-report-container__count {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.admin-report-container__count-value {
    font-weight: bold;
    color: #007BFF; /* Bootstrap primary color */
}