{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
    {% include 'main_linkings.html' %}
</head>
<body>
    {% include 'header.html' %}
<div class="change-password-container">
    <h1 class="change-password-container__title">Change Password</h1>

    {% if messages %}
        <ul class="change-password-container__messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" class="change-password-container__form">
        {% csrf_token %}
        <div class="change-password-container__group">
            <label for="current_password">Current Password</label>
            <input type="password" name="current_password" class="change-password-container__input" required>
        </div>
        <div class="change-password-container__group">
            <label for="new_password">New Password</label>
            <input type="password" name="new_password" class="change-password-container__input" required>
        </div>
        <div class="change-password-container__group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" name="confirm_password" class="change-password-container__input" required>
        </div>
        <button type="submit" class="change-password-container__button">Update Password</button>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>
