{% load static %}
<header>
    {% include 'message_bar.html' %}
    <div class="special-header">
        <h1 class="special-header__company-name">BIZDASH</h1>
        <nav>
            <ul class="special-header__nav-menu">
                {% for operation_title, operation_items in operations.items %}
                    <li>
                        <a href="#" class="{% if operation_title == active_title %}active_title{% else %}not_active_title{% endif %}">{{ operation_title }}</a>
                        {% if operation_items %}
                            <ul class="special-header__submenu">
                                {% for item_title, item_url in operation_items.items %}
                                    {% if item_url %}
                                        <li><a href="{% url item_url %}">{{ item_title }}</a></li>
                                    {% else %}
                                        <li><a href="#">{{ item_title }}</a></li>  <!-- Handle cases where item_url is empty --> 
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li> <!-- Moved this closing tag here -->
                {% endfor %}
            </ul>
        </nav>

        {% if request.user %}
        <div class="special-header__auth-buttons">
            <button onclick="window.location.href='{% url 'user_profile' %}'" class="special-header__profile-button">Profile</button>
            <button onclick="window.location.href='{% url 'logout' %}'" class="special-header__login-button">Logout</button>
        </div>
        {% endif %}
        <div class="notification-wrapper">
            <button id="notification-btn" class="notification-btn">
                🔔
                {% if unread_notifications_count != 0 %}
                <span class="notification-badge">
                    {{ unread_notifications_count }}
                </span>
                {% endif %}
            </button>
        </div>
    </div>
</header>

<div id="notification-panel" class="notification-panel">
    <div class="notification-header">
        <h3>Notifications</h3>
        <button id="close-panel">✖</button>
    </div>
    <div class="notification-list">
        {% for note in notifications %}
        <div class="notification-box {% if not note.is_read %}unread{% endif %}">
            <a href="{% url 'read_notification' note.id %}">{{ note.content }}</a>
        </div>
        {% endfor %}
    </div>
</div>
